$font-color-light: #000000;
$font-color-dark: #d7d6e2;
$bg-color-light: #ffffff;
$bg-color-dark :#06031a;
$point-color-light:#FF7F5B;
$point-color-dark:#FEC260;
$point2-color-light:#90BF87;
$point2-color-dark:#5B8FB9;