@use "./color.scss" as *;

html[data-theme="light"] {
    --color-text: #{$font-color-light};
    --color-background: #{$bg-color-light};
    --color-point : #{$point-color-light};
    --color-point2 : #{$point2-color-light};
    --gradation-start:rgba(170, 255, 210, 0.6);
    --gradation-middle:rgba(255, 254, 190,0.5);
    --gradation-end:rgba(255, 254, 190,0);
  }
  
html[data-theme="dark"] {
  --color-text: #{$font-color-dark};
  --color-background: #{$bg-color-dark};
  --color-point : #{$point-color-dark};
  --color-point2 : #{$point2-color-dark};
  --gradation-start:rgba(0, 221, 173, 0.6);
  --gradation-middle:rgba(0, 70, 150, 0.5);
  --gradation-end:rgba(19, 0, 112, 0);
}